.out-cat{width: 100%;display: block;height: 80px;overflow-x: scroll;}
.category{width: 390px;}
.category a{display: inline-block;padding-left: 15px;padding-right: 10px;padding-bottom:10px;padding-top:10px;text-align: center;}
.category span{display: table;font-size: 13px;color: #000;}
.slide,.slide img{width: 100%;}
.header-search{padding: 17px 10px;float: right;}
.logo{padding:6px 10px}
.title{margin: 10px 0;}
.product-slider ion-slide{margin: 0 10px;}
.box-combo{position: relative;}

/*bestselling*/
.bestselling{box-shadow: 0 0 10px #ccc;width: 92%;display: table;margin: 30px auto;z-index: 9;position: relative;background: #fff;}
.border-right{border-right:1px solid #ccc;}
.bestselling ion-col{padding: 10px 0;}
.bestselling ion-row{margin: 0 10px;}
.bestselling span{font-size: 13px;margin: 6px auto;max-width: 70px;text-align: center;display: table}
.bestselling img{display: table;margin: 0 auto;max-width: 80px;}

/*recent-view*/
.recent-view{background:linear-gradient(#FFBE40,#FF6A8F);position: relative;top: -100px;padding-top: 70px;}
.recent-view .title{color:#fff;text-align: center;}