ion-toolbar{height: initial;}
.filters ion-col{background-color:#F4F4F4}
.filters ion-item{background: transparent;--inner-border-width:0px !important}

/*common*/
h2{margin: 15px 10px;font-size: 18px;}