<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/logo.png" class="logo" />
    <ion-icon name="search-outline" class="header-search"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="out-cat">
    <div class="category">
      <a>
        <img src="../../assets/icons/all-category.png"/>
        <span>All Categories</span>
      </a>
      <a>
        <img src="../../assets/icons/clothes.png"/>
        <span>Fashion</span>
      </a>
      <a>
        <img src="../../assets/icons/mobile.png"/>
        <span>Mobile</span>
      </a>
      <a>
        <img src="../../assets/icons/electronics.png"/>
        <span>Electronics</span>
      </a>
    </div>
  </div>

  <!-- slider -->

  <ion-slides [options]="slideOptions" pager="true" #slider autoplay="5000" (ionSlidesDidLoad)="slidesDidLoad(slider)">
    
    <ion-slide *ngFor="let slider of sliders">
      <div class="slider">
        <img [src]="serverUrl+slider.image_mobile" alt="slide" />
      </div>
    </ion-slide>
    
    <!--<ion-slide>
      <div class="slider">
        <img src="../../../assets/slider/slide1.png" alt="slide" />
      </div>
    </ion-slide>
     <ion-slide>
      <div class="slider">
        <img src="../../../assets/slider/slide2.png" alt="slide" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slider">
        <img src="../../../assets/slider/slide3.png" alt="slide" />
      </div>
    </ion-slide> -->
  </ion-slides>

  <!-- New Arrival -->
  <ion-grid>
    <ion-row>
      <h1 class="title" style="margin-left: 10px">New Arrival</h1>
    </ion-row>
  </ion-grid>
  <ion-slides class="product-slider" [options]="productOptions" #slider>
    
    <ion-slide  *ngFor="let latest_product of latest_products">
      <div class="slide">
        <div class="slide-image">
          <img [src]="serverUrl+'/uploads/images/'+latest_product.image_small" alt="slide" />
          <div class="favourite"><ion-icon name="heart-outline"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">{{latest_product.title}}</span>
          <h3>{{latest_product.users_shop_name}}</h3>
          <span class="price">${{latest_product.price/100}}</span>
        </div>
      </div>
    </ion-slide>

    <!-- <ion-slide>
      <div class="slide">
        <div class="slide-image">
          <img src="../../../assets/product/t-shirt.png" alt="slide" />
          <div class="favourite"><ion-icon name="heart-outline"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">Mango</span>
          <h3>T-Shirt SPANISH</h3>
          <span class="price">$9</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-image">
          <span class="off-label">20%</span>
          <img src="../../../assets/product/furniture.png" alt="slide" />
          <div class="favourite marked"><ion-icon name="heart"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">Mango</span>
          <h3>T-Shirt SPANISH</h3>
          <span class="sale">$210</span><span class="new-price">$140</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-image">
          <img src="../../../assets/product/t-shirt.png" alt="slide" />
          <div class="favourite"><ion-icon name="heart-outline"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">Mango</span>
          <h3>T-Shirt SPANISH</h3>
          <span class="price">$9</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-image">
          <span class="off-label">20%</span>
          <img src="../../../assets/product/furniture.png" alt="slide" />
          <div class="favourite"><ion-icon name="heart-outline"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">Mango</span>
          <h3>T-Shirt SPANISH</h3>
          <span class="sale">$210</span><span class="new-price">$140</span>
        </div>
      </div>
    </ion-slide> -->


  </ion-slides>
  <div class="box-combo">
    <div class="bestselling">
      <ion-grid>
        <ion-row>
          <h1 class="title" style="margin: 15px 0 0 0;display: table">Bestselling</h1>
          <ion-item>
            <ion-select value="mobile" interface="action-sheet">
              <ion-select-option value="fashion">Fashion</ion-select-option>
              <ion-select-option value="mobile">Mobile</ion-select-option>
              <ion-select-option value="electronics">Electronics</ion-select-option>
              <ion-select-option value="appliences">Appliences</ion-select-option>
              <ion-select-option value="home">Home</ion-select-option>
              <ion-select-option value="beauty">Beauty</ion-select-option>
              <ion-select-option value="sports">Sports</ion-select-option>
              <ion-select-option value="furniture">Furniture</ion-select-option>
              <ion-select-option value="toys">Toys</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="margin-top: 10px;">
          <ion-col class="border-right">
            <img src="../../assets/home-content/samsung.jpg" />
            <span>Samsung Galaxy M21</span>
          </ion-col>
          <ion-col class="border-right">
            <img src="../../assets/home-content/one-plus.jpg" />
            <span>OnePlus Nord 5G</span>
          </ion-col>
          <ion-col class="border-bottom">
            <img src="../../assets/home-content/redmi.jpg" />
            <span>Redmi Note 9 Pro</span>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: 1px solid #ccc;margin-bottom: 10px;">
          <ion-col class="border-right">
            <img src="../../assets/home-content/infinix.jpg" />
            <span>Infinix Note 7</span>
          </ion-col>
          <ion-col class="border-right">
            <img src="../../assets/home-content/realme.jpg" />
            <span>Realme Narzo 10</span>
          </ion-col>
          <ion-col>
            <img src="../../assets/home-content/poco.jpg" />
            <span>POCO M2</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <ion-grid class="recent-view">
      <ion-row>
        <ion-col>
          <h2 class="title">Recently viewed</h2>
        </ion-col>
      </ion-row>
      <ion-slides class="product-slider" [options]="productOptions" #slider>
        <ion-slide>
          <div class="slide">
            <div class="slide-image">
              <img src="../../../assets/product/clock.png" alt="slide" />
            </div>
            <div class="product-content">
              <h4>Ajanta Clock</h4>
              <span class="price">$9</span>
              <span class="review"><ion-icon name="star"></ion-icon><span>4</span></span>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="slide-image">
              <img src="../../../assets/product/laptop.png" alt="slide" />
            </div>
            <div class="product-content">
              <h4>Asus Laptop</h4>
              <span class="price">$1000</span>
              <span class="review"><ion-icon name="star"></ion-icon><span>4</span></span>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="slide-image">
              <img src="../../../assets/product/washing-machine.png" alt="slide" />
            </div>
            <div class="product-content">
              <h4>Washing Machine</h4>
              <span class="price">$200</span>
              <span class="review"><ion-icon name="star"></ion-icon><span>4</span></span>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-grid> -->

      <!-- New Arrival -->
  <ion-grid>
    <ion-row>
      <h1 class="title" style="margin-left: 10px">Feature Categories</h1>
    </ion-row>
  </ion-grid>
  <ion-slides class="product-slider" [options]="productOptions" #slider>
    
    <ion-slide  *ngFor="let featured_category of featured_categories">
      <div class="slide">
        <div class="slide-image">
          <img [src]="serverUrl+featured_category.image" alt="slide" />
          <div class="favourite"><ion-icon name="heart-outline"></ion-icon></div>
        </div>
        <div class="product-content">
          <span class="product-provider">{{featured_category.second_name}}</span>
          <!-- <h3>{{featured_category.users_shop_name}}</h3>
          <span class="price">${{featured_category.price/100}}</span> -->
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  </div>
</ion-content>
