/*common*/
h2{margin: 15px 10px;font-size: 18px;}
.category-box{width: 90px;height: 90px;box-shadow: 0 0 10px #ddd;border-radius: 5px;display: flex;flex-direction: row;margin:0 auto}
ion-col span{margin: 7px auto 15px auto;display: table;font-size: 15px;color: #000;}
.category-box img{align-self: center;margin: 0 auto;}