<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-router-link href="dashboard"><ion-icon name="chevron-back-outline"></ion-icon></ion-router-link>
    <img src="../../assets/logo.png" class="logo" />
    <ion-icon name="search-outline" class="header-search"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>All Categories</h2>
  <ion-row>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/clothe.png">
        </div>
        <span>Fashion</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/mobile-2.png">
        </div>
        <span>Mobile</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/laptop.png">
        </div>
        <span>Electronics</span>
      </ion-router-link>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/house-hold.png">
        </div>
        <span>Appliences</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/decoration.png">
        </div>
        <span>Home</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/fashion.png">
        </div>
        <span>Beauty</span>
      </ion-router-link>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/sports.png">
        </div>
        <span>Sports</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/furniture.png">
        </div>
        <span>Furniture</span>
      </ion-router-link>
    </ion-col>
    <ion-col>
      <ion-router-link href="/tabs/fashion">
        <div class="category-box">
          <img src="assets/icons/toy.png">
        </div>
        <span>Toys</span>
      </ion-router-link>
    </ion-col>
  </ion-row>
</ion-content>